body {
  box-sizing: border-box;
  font-family: 'Special Elite', cursive;
  text-align: center;
  background-image: url('Images/page-background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-logo {
  width: 80%;
  max-width: 80%;
}

h1 {
  color: white;
  font-size: 1em;
  @media all and (min-width: 768px) {
    font-size: 2em;
  }
  @media all and (min-width: 1024px) {
    font-size: 3em;
  }
}

h2 {margin-bottom: 5px;}

h3, p {margin-top: 0;}

.input-style {
  border: none;
  background: none;
  color: white;
  border-bottom: 1px solid white;
  width: 70%;
  font-family: 'Special Elite', cursive;
  text-align: center;
}

.container-list {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;

  @media all and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
  @media all and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.items-list {
  background-color: #012532;
  color: white;
  margin: 20px;
  padding: 15px;
  position: relative;
  border-radius: 30px;
  box-shadow: 0.5px 0.5px 14px #fff;

}

.character-photo {
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.house-logo {
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0.7;
  image-orientation: 6.4deg;
  width: 30%;
}
